CMakeCache.txt
*.vcxproj
*.vcxproj.user
*.filters
*.db
*.opendb
*.sdf
*.sln
*.suo
*.rc
*.cmake
bin/
lib/
Win32/
CMakeFiles/
src/NppEditorConfig_unicode.dir/
src/NppEditorConfig_ansi.dir/
